<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin panel</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/panel.css" />
  <link rel="stylesheet" href="/css/table.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>

  <div th:replace="~{fragments :: header}"></div>

<div class="text">
  <p>В довоенные тридцатые годы прошлого века время было отнюдь не лёгким и
    безоблачным. Этот период характеризовался коренными преобразованиями в
    жизни нашей страны. Освоение северного морского пути, строительство
    гидроэлектростанций, развитие рыболовства и морского транспорта
    чрезвычайно повысили требования к метеорологическим данным, и остро
    поставили вопрос о расширении океанологических исследований. Но дефицит и
    низкое качество коснулись не только гидрометобеспечения, но и
    соответствующих кадров. Нишу нынешних выпускников РГГМУ занимали
    воспитанники физических и географических факультетов, инженеры путей
    сообщения, военно-морские гидрографы.<br><br>В результате повышенной
    необходимости в подобных специалистах, в 1930 году Постановлением
    Центрального исполнительного комитета и Совета народных комиссаров СССР
    от 23 июля 1930 года был создан Московский гидрометеорологический
    институт на базе Геофизического факультета и гидрологического отделения
    Геологического факультета Московского государственного университета,
    разместившийся в здании обсерватории Московского университета на Красной
    Пресне.</p>

  Институт стал первым в мире высшим учебным заведением
  гидрометеорологического профиля. Это обусловило необходимость создания
  (практически с нуля) учебно-методического обеспечения подготовки
  инженеров-метеорологов, гидрологов, океанологов. Для этой работы были
  привлечены крупнейшие ученые того времени: В. В. Шулейкин, Н. Н. Зубов,
  В. А. Великанов, Б. П. Орлов, Е. В. Близняк, А. Ф. Вангенгейм, М. В.
  Келдыш, М. А. Лаврентьев, А. Н. Тихонов, Н. Е. Кочин, Н. А. Багров, С.
  Т. Пагава, А. Д. Добровольский, С. П. Хромов и многие другие, которые в
  последствии составили славу отечественной науки.<br><br>
  Большие трудности преодолевали ученые, переходившие в новый институт,
  так как им самим приходилось создавать базы для научной работы,
  лаборатории, но, благодаря энтузиазму и необыкновенной энергии, новый
  вуз быстро рос и набирал силы. Были созданы первые учебные планы,
  программы, оборудованы лаборатории физики моря, гидравлическая,
  химическая. В течении первых 10 лет существования института были
  опубликованы учебники и монографии, которые приобрели широкую
  популярность, росло количество преподавателей и студентов.<br><br>
  С первых дней существования института в нем широко развернулись научные
  исследования, сформировались научные школы, возглавляемые такими
  крупными учеными, как: Б. П. Алисов, В. В. Шулейкин, М. А. Великанов, В.
  А. Аполлонов и другие. Результаты исследований стали публиковаться в
  трудах института, первый выпуск которых, вышел в 1939 году.
  <br><br>

  <b>1941 год</b> — Реорганизован Распоряжением Совета Народных Комиссаров
  СССР № 6066 от 16 августа в Высший военный гидрометеорологический
  институт Красной Армии, который стал готовить офицерские кадры —
  инженеров-гидрометеорологов. В октябре 1941 года в связи с началом войны
  эвакуирован в город Ленинабад.<br><br>

  <b>1943 год</b> — Возвращение из эвакуации в Москву.<br><br>

  <b>1944 год</b> — Переведен в Ленинград.<br><br>

  <b>1945 год</b> — Реорганизован в Ленинградский гидрометеорологический институт.<br><br>

  Начало работы в Ленинграде было трудным. Большая часть ведущих
  преподавателей осталась в Москве. Помогло то что в Ленинграде в то время
  находилось несколько ведущих учреждений гидрометеорологического
  профиля. Их специалисты были привлечены к педагогической работе.
  Традиция комплектования преподавательского корпуса из специалистов
  высокого класса в университете поддерживается и сохраняется. Это
  позволило в ЛГМИ создать мощную методическую базу
  гидрометеорологического образования для высших учебных заведений страны,
  где готовятся специалисты по этому направлению.<br><br>

  <b>1946 г.</b> — Переведен Приказом Министерства Высшего образования СССР № 39/151 от 7 мая 1946 года в Министерство Высшего образования СССР.<br><br>

  <b>В 1957 году</b> институт обосновался на Малой Охте по адресу
  Малоохтинский проспект, дом 98, где и по сей день находится главное
  здание университета (первый корпус).<br><br>


  <b>1959 г.</b> — Передан Постановлением Совета Министров РФ № 1311 от 3
  августа 1959 года в Министерство Высшего и среднего специального
  образования Российской Федерации.<br><br>

  <b>В 1960 году</b> в Ленинградской области в деревне Даймище на реке
  Оредеж создается учебная база для прохождения студентами учебных
  практик, которая действует и сейчас.<br><br>

  <b>В 1969 году</b> у института появляется второй учебный корпус на проспекте Металлистов дом 3.<br><br>

  <b>В 1970 году</b> создан океанологический факультет.<br><br>


  <b>В 1989</b> годустратегическим партнером вуза становится Федеральная
  служба по гидрометеорологии и мониторингу окружающей среды
  (Росгидромет). Отношения между Росгидрометом и вузом строятся на основе
  Договора, заключенного в 1989 году, в рамках которого предусматривается
  целевая подготовка кадров для Росгидромета и проведение научных
  исследований в целях повышения эффективности гидрометеорологического
  обеспечения экономики РФ.<br><br>


  <b>В 1992</b> году переименован Постановлением Государственного Комитета
  по делам науки, высшей школы и технической политики Российской
  Федерации (№ 50 от 18 февраля 1992 года) в Российский Государственный
  гидрометеорологический институт (РГГМИ).<br><br>

  <b>С 1993</b> года вуз является исполнителем уникального проекта
  Межправительственной океанографической комиссии ЮНЕСКО — Балтийский
  плавучий университет. Ежегодно студенты РГГМУ вместе со студентами из
  университетов ряда европейских государств, участвуют в учебно-научной
  экспедиции. Под руководством квалифицированных педагогов они проводят
  морские исследования, слушают лекции, участвуют в международных научных
  семинарах.<br><br>


  <b>В 1994</b> году институт получил международное признание. Соглашением
  между правительством Российской Федерации и Всемирной метеорологической
  организацией ВМО (специализированной организацией ООН) вузу был придан
  статус Регионального метеорологического учебного центра ВМО.<br><br>


  <b>В 1994 году</b> в университете был основан факультет экологии и физики природной среды.<br><br>


  <b>В 1998</b> году институт получил статус университета (РГГМУ).<br><br>


  <b>В 1999 году</b>, одним из первых в России, РГГМУ перешел на
  многоуровневую систему высшего гидрометеорологического образования,
  которая признана в большинстве стран и является одним из важнейших шагов
  к узнаваемости диплома университета в мировом научно-образовательном
  сообществе.<br><br>

  <b>В  2000 году</b> на базе Туапсинского гидрометеорологического техникума  открывается  первый филиал  университета.<br><br>

  <b>В 2001 году</b> открывается второй филиал университета на базе Ростовского техникума.<br><br>

  <b>В 2003 году</b> начал свою работу экономический и социально-гуманитарный факультет.<br><br>


  <b>В 2005</b> году университет отпраздновал <a href="http://75.rshu.ru/" class="contentlink" target="_blank">75-летний юбилей</a>.<br><br>
  <p></p>

  <b>В 2006</b> году университет подписал «<a href="https://www.rshu.ru/university/history/magnacharta/" class="contentlink">Великую хартию университетов</a>».<br><br>


  <b>В 2009 году</b> РГГМУ был включен в реестр Торгово-промышленной
  палаты Российской Федерации. Достижения университета в области развития
  гидрометеорологического образования и научных исследований позволили
  вузу пройти сертификацию и получить свидетельство, подписанное
  Президентом Торгово-промышленной палаты РФ Е. Примаковым.<br><br>

  <b>В 2010 году</b> по итогам внешнего инспекционного аудита университет
  получил сертификаты соответствия системы менеджмента качества
  требованиям национальной системе стандартов ГОСТ Р ИСО 9001-2008 и
  международной системе стандартов ISO 9001:2008.<br><br>

  <b>В 2010 году</b> университет отпраздновал <a href="http://80.rshu.ru/" class="contentlink" target="_blank">80-летний юбилей</a>.<br><br>
  <p></p>

  <b>В 2011 году</b> РГГМУ учредил свой фонд целевого капитала «<a href="http://fond.rshu.ru/" class="contentlink" target="_blank">ЭндауМет</a>».<br><br>


  <b>В 2011 году</b> в университете основан факультет информационных систем и геотехнологий.<br><br>

  <b>В 2011 году</b> РГГМУ признан лучшим университетом России по организации и выполнению проектов ТЕМПУС и Эразмус Мундус.<br><br>

  <b>В 2011 году</b> на базе университета была создана технологическая платформа «Технологии экологического развития».<br><br>

  <b>В 2011 году</b>  Российский государственный гидрометеорологический
  университет стал обладателем «Мегагранта» — гранта Министерства
  образования и науки РФ на привлечение в высшие учебные заведения страны
  учёных с мировым именем. В рамках программы «Науки о Земле» научными
  исследованиями в РГГМУ занимается известный французский учёный Бертран
  Шапрон из научно-исследовательского института изучения и эксплуатации
  ресурсов моря IFREMER. Теперь Бертран Шапрон возглавляет научные
  исследования по направлению «Спутниковая океанография» в рамках
  созданнной в университете лаборатории мирового уровня. <br><br>


  <b>В  2012 году</b> РГГМУ получил грант Русского географического
  общества на реализацию проекта «Влияние изменения климата и опасных
  природных явлений на природопользование Европейского Севера» в номинации
  «Международное сотрудничество».  <br><br>

  <b>В 2012 года</b> университету присвоен статус Федеральной инновационной площадки. официальный сайт ФИП.<br><br>

  <b>В 2013 году</b> база практик РГГМУ «Даймище» празднует свой 50-летний юбилей.<br><br>

  <b>В 2013 году</b> Российский государственный гидрометеорологический
  университет  стал победителем конкурса среди образовательных учреждений
  высшего профессионального образования и научных организаций на право
  повышения квалификации специалистов образовательных учреждений ВПО и
  научных организаций в Санкт-Петербурге в области управления качеством.<br><br>

  <b>В 2014 году</b> университет <a href="http://www.rshu.ru/1714">признан лучшим в сфере услуг</a>. <br><br>

  <b>В 2015 году</b>  к Российскому государственному гидрометеорологическому университету присоединена Государственная Полярная Академия. <br><br>

</div>

<div id="ShowText1" style="display: none;" class="help">

  <a href="#" style="text-decoration: none;" onclick="document.getElementById('ShowText2').style.display='block';document.getElementById('ShowText1').style.display='none';return false;"><span style="border-bottom: 1px dashed #2a87ad;">Кратко</span></a>&nbsp;&nbsp;<span class="gray">Развернуто</span><br><br>


  Российский государственный гидрометеорологический университет
  (РГГМУ)&nbsp;— ведущий вуз современной системы высшего
  гидрометеорологического образования России и&nbsp;перспективный лидер
  мировой высшей школы в&nbsp;данной области. В&nbsp;2010 году РГГМУ
  отмечает большой юбилей&nbsp;— 80&nbsp;лет со&nbsp;дня основания.<br>
  <br>
  <br>
  —&nbsp;<a href="#section1">На&nbsp;пути к&nbsp;созданию высшей школы гидрометеорологов</a><br>
  <br>
  —&nbsp;<a href="#section2">Путь развития Московского гидрометеорологического института</a><br>
  <br>
  —&nbsp;<a href="#section3">Военный гидрометеорологический институт (1940-1945 гг.)</a><br>
  <br>
  —&nbsp;<a href="#section4">Начало Ленинградской истории вуза</a><br>
  <br>
  —&nbsp;<a href="#section5">Военная кафедра РГГМУ&nbsp;— 80&nbsp;лет на&nbsp;службе Отечеству</a><br>
  <br>
  —&nbsp;<a href="#section6">История вуза 80—90-ых</a><br>
  <br>
  —&nbsp;<a href="#section7">Получение статуса университета&nbsp;— РГГМУ</a><br>
  <br>
  —&nbsp;<a href="#section8">Современные достижения</a><br>
  <br>
  <br>
  <a name="section1"></a>
  <h3>На&nbsp;пути к&nbsp;созданию высшей школы гидрометеорологов</h3>
  Прежде чем научное сообщество пришло к&nbsp;идее образования высшего
  учебного заведения гидрометеорологического профиля, был пройден длинный
  и&nbsp;тернистый путь. Окружающая природная среда и&nbsp;происходящие
  в&nbsp;ней процессы интересовали людей с&nbsp;глубокой древности. Так
  получилось, что атмосфера первой из&nbsp;земных оболочек привлекла
  к&nbsp;себе внимание древних ученых, и&nbsp;не&nbsp;случайно. Дело
  в&nbsp;том, что атмосфера наиболее доступна для наблюдений человеком,
  даже не&nbsp;располагающим никакими приборами. Кроме того, именно
  в&nbsp;ней зарождается большинство опасных природных явлений, которые
  затем провоцируют возникновение стихийных бедствий и&nbsp;на&nbsp;море
  и&nbsp;на&nbsp;суше. <br>
  <br>
  Первой книгой, в&nbsp;которой была предпринята попытка систематического
  описания физических процессов в&nbsp;атмосфере, принято считать трактат
  великого энциклопедиста древних греков Аристотеля <nobr>(384-322</nobr>
  г.г. до&nbsp;н.э.) под названием «Метеорологика». С&nbsp;высоты
  современных знаний обнаружатся многие погрешности в&nbsp;рассуждениях
  ученого, но, тем не&nbsp;менее, бесспорны и&nbsp;многие его открытия,
  например, гидрологического цикла, который и&nbsp;сейчас является основой
  исследований в&nbsp;гидрологии или связи характера погоды
  с&nbsp;направлением ветра, являющейся началом современной синоптики.
  Но&nbsp;в&nbsp;истории научного познания наступают моменты, когда старые
  теории должны уступить место новым. Случилось это через 20&nbsp;веков
  после появления знаменитого трактата Аристотеля. <br>
  <br>
  Возникновение в&nbsp;17&nbsp;веке физики как точной науки, основанной
  на&nbsp;наблюдениях и&nbsp;анализе, стало истоком подлинно научной
  метеорологии. Новой физической наукой заинтересовался великий русский
  гений 18&nbsp;века, основатель практически всех естественнонаучных
  исследований в&nbsp;России М.&nbsp;В. Ломоносов, в&nbsp;том числе
  и&nbsp;физики атмосферы. Ломоносова также можно назвать пионером
  российской экспериментальной метеорологии,&nbsp;— именно ему принадлежат
  изобретения ряда геофизических инструментов и&nbsp;приборов:
  гравиметры, термометры, ртутные барометры, анероиды и&nbsp;даже
  «аэродинамическая машина»&nbsp;— прообраз вертолета для изучения верхних
  слоев атмосферы. <br>
  <br>
  Однако долгое время ни&nbsp;в&nbsp;России, ни&nbsp;за&nbsp;рубежом,
  не&nbsp;было специальных учебных дисциплин, они лишь входили
  в&nbsp;университетские курсы физики. Только в&nbsp;1810 году
  в&nbsp;России появился первый специализированный учебный материал
  по&nbsp;метеорологии в&nbsp;учебнике профессора Московского университета
  П.&nbsp;И.&nbsp;Страхова «Краткое начертание физики». Спустя
  31&nbsp;год выходит в&nbsp;свет первый на&nbsp;русском языке учебник,
  посвященный исключительно метеорологии, принадлежащий перу профессора
  физики Дерптского университета Л.&nbsp;Ф.&nbsp;Кемца. <br>
  <br>
  Постепенно метеорология в&nbsp;вузах России неуклонно развивалась,
  приближая дату признания метеорологии не&nbsp;как прикладной науки,
  а&nbsp;фундаментальной. В&nbsp;течение всего 19&nbsp;века
  последовательно развивалась практическая база для обучения студентов
  гидрометеорологии&nbsp;— при всех крупных университетах и&nbsp;ряде
  других высших учебных заведений России были основаны метеорологические
  обсерватории, многие из&nbsp;которых действуют до&nbsp;сих пор. Первым
  здесь был Московский университет, в&nbsp;котором неутомимый энтузиаст
  П.&nbsp;И.&nbsp;Страхов начал наблюдения в&nbsp;1808&nbsp;году.
  В&nbsp;1812 году открывается метеообсерватория Казанского университета.
  Начиная с&nbsp;1830&nbsp;года, метеорологические наблюдения велись
  в&nbsp;новой астрономической обсерватории Московского университета
  на&nbsp;Пресне. А&nbsp;в&nbsp;1834 году академик А.&nbsp;Я.&nbsp;Купфер
  организует в&nbsp;Петербурге Нормальную магнитную
  и&nbsp;метеорологическую обсерваторию, ставшую эталоном для развернутой
  впоследствии сети метеорологических станций России. Еще несколько
  обсерваторий были открыты в&nbsp;Москве, Томске и&nbsp;Одессе. Таким
  образом, к&nbsp;концу 19&nbsp;столетия в&nbsp;России была создана
  теоретическая и&nbsp;практическая основа для выпуска
  специалистов-гидрометеорологов. А&nbsp;их&nbsp;все не&nbsp;было&nbsp;—
  университеты по-прежнему выпускали только физиков и&nbsp;географов. <br>
  <br>
  Между тем, новая наука не&nbsp;стояла на&nbsp;месте и&nbsp;продолжала
  развиваться и&nbsp;все больше возникала необходимость в&nbsp;грамотных
  и&nbsp;дипломированных специалистах. К&nbsp;тому&nbsp;же
  гидрометеорология все это время держалась лишь на&nbsp;инициативе
  подвижников и&nbsp;энтузиастов, пусть даже окончивших
  университеты,&nbsp;— нужны были квалифицированные кадры с&nbsp;базовым
  гидрометеорологическим образованием, как в&nbsp;науке, так
  и&nbsp;на&nbsp;сети.<br>
  <br>
  Переломным моментом послужила Первая мировая война, когда в&nbsp;1915
  году по&nbsp;инициативе Б.&nbsp;Б.&nbsp;Голицына было сформировано
  Главное военно-метеорологическое управление. Такой потребности
  в&nbsp;специализированных кадрах метеорология еще не&nbsp;знали, поэтому
  в&nbsp;авральном режиме начали заполнять управление специалистами
  из&nbsp;существующих обсерваторий. Уроки Первой мировой не&nbsp;прошли
  даром. Отгремели две революции и&nbsp;Гражданская война, и&nbsp;уже
  в&nbsp;1921 году В.&nbsp;И.&nbsp;Ленин, председатель Совета Народных
  Комиссаров РСФСР, подписывает декрет об&nbsp;организации
  метеорологической службы. Но&nbsp;главным государственным научным
  органом оставалась Главная геофизическая обсерватория, которая была
  подчинена Народному Комиссариату Просвещения. Еще в&nbsp;1921 году был
  подготовлен проект постановления Совета Труда и&nbsp;Обороны
  об&nbsp;обеспечении метеорологических учреждений, в&nbsp;котором среди
  прочих содержался пункт о&nbsp;создании высшего специального учебного
  заведения&nbsp;— Геофизического института. Однако в&nbsp;связи
  с&nbsp;быстрыми политическими преобразованиями в&nbsp;стране создание
  первого в&nbsp;России гидрометеорологического вуза было отложено. Когда
  в&nbsp;1922 году был образован СССР был поставлен вопрос о&nbsp;создании
  метеорологической службы. Так в&nbsp;1929 году
  на&nbsp;Метеорологическом съезде было принято решение о&nbsp;создании
  Единой гидрологической и&nbsp;метеорологической службы Советского Союза.
  В&nbsp;развитие этого постановления был также образован
  Гидрометеорологический комитет при Совете Народных Комиссаров.
  И&nbsp;когда была проведена полная организация действенной <br>
  <br>
  <br>

  <i>Постановление Центрального исполнительного комитета и&nbsp;Совета
    народных комиссаров СССР (приказ №&nbsp;237 от&nbsp;23&nbsp;июля
    1930&nbsp;года) об&nbsp;организации Московского гидрометеорологического
    института</i><br>
  <br>

  <br>
  структуры управления гидрометеорологической наукой остро встал вопрос
  об&nbsp;организации централизованного обучения высшего звена
  специалистов-гидрометеорологов для обеспечения кадрами всего Советского
  Союза. <br>
  <br>
  В&nbsp;те&nbsp;довоенные годы время было отнюдь не&nbsp;лёгким
  и&nbsp;безоблачным. Этот период характеризовался коренными
  преобразованиями в&nbsp;жизни нашей страны. Освоение северного морского
  пути, строительство гидроэлектростанций, развитие рыболовства
  и&nbsp;морского транспорта чрезвычайно повысили требования
  к&nbsp;метеорологическим данным, и&nbsp;остро поставили вопрос
  о&nbsp;расширении гидрометеорологических и&nbsp;океанологических
  исследований. В&nbsp;результате повышенной необходимости в&nbsp;подобных
  специалистах, в&nbsp;1930&nbsp;году, в&nbsp;Москве Постановлением
  Центрального исполнительного комитета и&nbsp;Совета народных комиссаров
  СССР (приказ №&nbsp;237 от&nbsp;23&nbsp;июля 1930&nbsp;года) был
  организован Московский гидрометеорологический институт, сформированный
  на&nbsp;базе Геофизического отделения физического факультета
  и&nbsp;гидрологического отделения геологического факультета Московского
  государственного университета (см. рис.1.). <br>
  <br><br>

  <a name="section2"></a>
  <h3>Путь развития Московского гидрометеорологического института</h3>
  Основание Московского гидрометеорологического института имеет интересную
  историю Оно не&nbsp;было простым актом больших руководителей,
  осознавших необходимость и&nbsp;своевременность сделанного шага...<br>
  <br>
  В&nbsp;начале 1930 года на&nbsp;физическом факультете МГУ обсуждался
  вопрос о&nbsp;создании геофизического отделения факультета,
  за&nbsp;открытие которого активно выступала так называемая «Студенческая
  фракция» Ученого совета факультета. В&nbsp;ее&nbsp;состав тогда входили
  студенты, известные впоследствии ученые: И.&nbsp;Г.&nbsp;Петровский,
  будущий ректор МГУ и&nbsp;В.&nbsp;А.&nbsp;Белинский, ставший признанным
  авторитетом в&nbsp;области общей и&nbsp;динамической метеорологии.
  В&nbsp;результате бурных дебатов весной 1930 года все&nbsp;же состоялся
  прием первых студентов на&nbsp;открытое геофизического отделение (ГО).
  Но&nbsp;это, оказывается было только начало. «Студенческая фракция»,
  которую поддерживал руководитель ГО&nbsp;И.&nbsp;И. Месяцев добились
  тогда казалось совсем невероятного, приема у&nbsp;самого наркома
  просвещения А.&nbsp;С.&nbsp;Бубнова. Студенты предложили ни&nbsp;много,
  ни&nbsp;мало, преобразовать геофизическое отделение МГУ
  в&nbsp;самостоятельный учебный институт по&nbsp;гидрометеорологии.
  Не&nbsp;задолго до&nbsp;этого знаменательного события нарком ознакомился
  с&nbsp;докладом начальника Единой Гидрометслужбы СССР А.&nbsp;Ф.
  Вангенгейма о&nbsp;задачах и&nbsp;дальнейшем развитии гидрометеорологии,
  который опирался на&nbsp;концепцию академика
  В.&nbsp;И.&nbsp;Вернадского. Совпадение мнений руководителей крупных
  государственных структур и&nbsp;будущих строителей новой науки послужило
  серьезным толчком к&nbsp;образованию единственного в&nbsp;мире
  гидрометеорологического вуза 23&nbsp;июля 1930&nbsp;года. Именно эту
  дату и&nbsp;следует считать временем рождения нашего нынешнего
  Российского государственного гидрометеорологического университета
  (РРГМУ).<br>
  <br>
  Перед новым институтом сразу поставили целый ряд очень больших
  задач&nbsp;— по&nbsp;первоначальному статусу он&nbsp;был не&nbsp;просто
  вузом, а&nbsp;комплексным учебным комбинатом. В&nbsp;его состав входило
  дневное отделение (два факультета: гидрологический
  и&nbsp;метеорологический), гидрометеорологический техникум
  и&nbsp;рабочий факультет (рабфак). Кроме того, в&nbsp;обязанности МГМИ
  входило проведение курсов повышения квалификации для
  специалистов-практиков, работавших в&nbsp;системе Гидрометслужбы СССР,
  а&nbsp;в&nbsp;1937 году было организовано заочное отделение. Очень скоро
  техникум стал самостоятельным учебным заведением. Остальные&nbsp;же
  направления деятельности сохранились на&nbsp;многие десятилетия жизни
  вуза, за&nbsp;исключением рабфака, закрытого еще до&nbsp;войны. <br>
  <br>
  В&nbsp;первые годы своего существования институт располагался
  в&nbsp;здании обсерватории Московского университета на&nbsp;Красной
  Пресне. Двухэтажное здание было небольшим, именно поэтому первый набор
  студентов осенью 1930 года составил всего 20&nbsp;человек.
  В&nbsp;дальнейшем учебный процесс постоянно сопровождался расширением
  здания. Так через пять лет численность студентов удалось довести
  до&nbsp;500, а&nbsp;к&nbsp;1940 году она составила уже 1000 человек (см.
  рис.2). <br>
  <br>
  В&nbsp;институте были собраны наиболее известные ученые в&nbsp;области
  гидрометеорологической науки того времени: В.&nbsp;В.&nbsp;Шулейкин,
  Н.&nbsp;Н. Зубов, В.&nbsp;А.&nbsp;Великанов, Б.&nbsp;П. Орлов,
  А.&nbsp;Ф.&nbsp;Дебюк, А.&nbsp;И. Аскназий, Е.&nbsp;В.&nbsp;Близняк,
  А.&nbsp;Х. Хргиан, А.&nbsp;Ф.&nbsp;Вангенгейм, М.&nbsp;В. Келдыш,
  М.&nbsp;А.&nbsp;Лаврентьев, А.&nbsp;Н. Тихонов, Н.&nbsp;Е.&nbsp;Кочин,
  Н.&nbsp;А. Багров, С.&nbsp;Т.&nbsp;Пагава, А.&nbsp;Д. Добровольский,
  С.&nbsp;П.&nbsp;Хромов и&nbsp;другие. Но&nbsp;им&nbsp;тоже пришлось
  учиться&nbsp;— учиться преподавать, создавать новые программы обучения
  и&nbsp;новые учебники&nbsp;— ведь опыта единого гидрометеорологического
  образования нигде в&nbsp;мире не&nbsp;было. Объем этих работ явно
  превосходил возможности небольшого по&nbsp;тому времени
  преподавательского коллектива. Но, благодаря энтузиазму
  и&nbsp;необыкновенной энергии, новый вуз быстро рос и&nbsp;набирал силы,
  увеличивалось количество преподавателей и&nbsp;студентов. <br>
  <br>
  <br>

  <i>Объявление о&nbsp;наборе студентов в&nbsp;Московский гидрометеорологический институт (1938&nbsp;год).</i><br>
  <br><br>
  С&nbsp;самого начала формировались учебные и&nbsp;научные лаборатории,
  без которых учебный процесс немыслим. Первыми из&nbsp;них были
  лаборатории физики моря, гидравлики, метеорологии, физики и&nbsp;химии.
  Создавались и&nbsp;учебные кабинеты: синоптики, метеорологии, учебное
  бюро погоды, океанологии, гидрометрии, гидропрогнозов, геологии
  и&nbsp;т.&nbsp;п. Были созданы первые учебные планы, программы,
  оборудованы лаборатории физики моря, гидравлическая, химическая. Главной
  задачей являлось обеспечение учебного процесса современными программами
  и&nbsp;учебниками. И&nbsp;здесь нельзя не&nbsp;поражаться тому, как
  всего за&nbsp;<nobr>5-7</nobr> лет преподаватели МГМИ сумели создать тот
  золотой фонд учебников, который служил многим поколениям преподавателей
  и&nbsp;студентов, и&nbsp;специалистов-гидрометеорологов еще несколько
  десятилетий спустя.<br>
  <br>
  Фактически на&nbsp;пустом месте специалисты института на&nbsp;многие
  годы, до&nbsp;сегодняшнего дня очертили контуры новой науки
  и&nbsp;наполнили ее&nbsp;содержанием. С&nbsp;первых дней существования
  института в&nbsp;нем широко развернулись научные исследования, начались
  дальние научные походы, сформировались научные школы, возглавляемые
  такими крупными учеными, как: Б.&nbsp;П.&nbsp;Алисов, М.&nbsp;А.
  Великанов, В.&nbsp;А.&nbsp;Аполлов, Б.&nbsp;В. Близняк,
  С.&nbsp;И.&nbsp;Нибольсин и&nbsp;другие. Результаты исследований стали
  публиковаться в&nbsp;трудах института, первый выпуск которых, вышел
  в&nbsp;1939 году под редакцией В.&nbsp;Г.&nbsp;Трупикова. А&nbsp;в&nbsp;<nobr>40-ом</nobr>
  году вышел второй сборник под редакцией С.&nbsp;П.&nbsp;Хромова,
  в&nbsp;котором публиковались исключительно результаты дипломных
  проектов. В&nbsp;след за&nbsp;ними последовали многочисленные другие
  статьи бывших студентов, которые принесли их&nbsp;авторам впоследствии
  ученые звания и&nbsp;научные степени. <br>
  Таким образом, именно в&nbsp;Московском гидрометеорологическом институте
  была заложена основа формирования гидрометеорологии как самостоятельной
  геофизической науки в&nbsp;нашей стране. <br>
  <br>
  <br>
  <a name="section3"></a>
  <h3>Военный гидрометеорологический институт <nobr>(1940-1945 гг.)</nobr></h3><nobr>
  1941</nobr> год все ждали с&nbsp;нетерпением: заканчивались работы
  по&nbsp;строительству нового корпуса, что позволило&nbsp;бы
  в&nbsp;дальнейшем расширить экспериментальные исследования.
  Но&nbsp;вместо радости этот год принес страшную трагедию, затянувшуюся
  на&nbsp;4&nbsp;года. В&nbsp;августе 1941 года институт реорганизуют
  в&nbsp;Высший Военный гидрометеорологический институт Красной Армии,
  который стал готовить офицерские кадры для фронта (см. рис.3). <br>
  <br>
  Осенью 1941 года институт эвакуировали в&nbsp;Среднюю Азию в&nbsp;город
  Ленинабад (ныне город Хужанд). Азиатский период жизни института был
  не&nbsp;просто временем интенсивной подготовки военных
  гидрометеорологов, но&nbsp;и&nbsp;целой эпохой совершенствования учебных
  дисциплин ведущими учеными страны и&nbsp;выпуска потом на&nbsp;этой
  основе фундаментальных учебников, определивших лице российской
  гидрометеорологии на&nbsp;многие и&nbsp;многие годы. Благодаря энергии
  личного состава там быстро наладилась учебная работа: в&nbsp;институт
  призывались студенты родственных вузов.<br>
  <br>
  Институт в&nbsp;Ленинабаде продолжал расти и&nbsp;начал выпускать
  большое количество военных инженеров-гидрометеорологов. С&nbsp;1941 года
  по&nbsp;1944 год институтом было выпущено более 600 специалистов
  и&nbsp;все они отправлялись на&nbsp;метеостанции батальонов аэродромного
  обслуживания и&nbsp;в&nbsp;метеобюро при штабах ВВС фронтов
  и&nbsp;армии. <br>
  <br>
  <br>

  <i>Распоряжение о&nbsp;реорганизации Московского гидрометеорологического
    института в&nbsp;Высший Военный гидрометеорологический институт (август
    1941&nbsp;года).</i><br>
  <br><br>
  Когда были остановлены и&nbsp;разбиты немецкие войска под Москвой,
  началась реэвакуация института, и&nbsp;в&nbsp;июле 1943 года работа уже
  закипела в&nbsp;столице. Настал ноябрь 1944 года&nbsp;и, неожиданно для
  всех, пришло указание о&nbsp;переводе института в&nbsp;Северную столицу.
  Неотложные обстоятельства диктовали срочный переезд института
  в&nbsp;Ленинград, И&nbsp;это было тяжелым временем в&nbsp;жизни вуза,
  поскольку только что обосновавшийся на&nbsp;новом месте институт мог
  растерять и&nbsp;преподавательский состав, и&nbsp;учебную
  и&nbsp;материально-техническую базу. И&nbsp;действительно многое
  из&nbsp;этого было утеряно, но&nbsp;и&nbsp;приобретено немало&nbsp;—
  с&nbsp;1944 года институт живет и&nbsp;развивается в&nbsp;лучшем городе
  Земли&nbsp;— в&nbsp;Ленинграде&nbsp;— Санкт-Петербурге. Это стоило
  всяких потерь. <br>
  <br>
  1945 год отмечен в&nbsp;хронологическом календаре как год Великой победы
  над фашизмом. Свой вклад в&nbsp;нее внесли выпускники
  гидрометеорологического института. Метеорологи обеспечивали боевые
  действия авиации и&nbsp;артиллерии, гидрологи&nbsp;— знаменитую Дорогу
  Жизни, к&nbsp;Ладоге, обеспечивали переправы в&nbsp;ходе боевых действий
  через водные преграды, океанологи помогали флоту.<br>
  <br>
  <br>
  <a name="section4"></a>
  <h3>Начало Ленинградской истории вуза</h3>
  В&nbsp;историю вуза 1945 год вошел как год реорганизации института
  в&nbsp;Ленинградский гидрометеорологический институт (ЛГМИ).
  С&nbsp;этого момента началась новая, уже ленинградская история вуза.
  В&nbsp;эти годы институт преодолевал все тяготы послевоенного времени.
  Большая часть ведущих преподавателей осталась в&nbsp;Москве.
  Помогло&nbsp;то, что в&nbsp;Ленинграде в&nbsp;то&nbsp;время находилось
  несколько ведущих учреждений гидрометеорологического профиля.
  Их&nbsp;специалисты были привлечены к&nbsp;педагогической работе.
  Традиция комплектования преподавательского корпуса из&nbsp;специалистов
  высокого класса в&nbsp;университете всегда приветствовалась, что
  позволило в&nbsp;ЛГМИ создать мощную методическую базу
  гидрометеорологического образования для высших учебных заведений страны,
  в&nbsp;которых готовятся специалисты гидрометеорологического профиля.
  В&nbsp;1957 году ЛГМИ покинул обжитый корпус на&nbsp;набережной Макарова
  и&nbsp;переехал в&nbsp;здание, проектируемое как Дом Культуры
  на&nbsp;Малоохтинский проспект дом&nbsp;98, где и&nbsp;сейчас находится
  первый корпус университета. В&nbsp;первый период ленинградской истории
  вуза новое поколение специалистов воспитывали такие выдающиеся деятели
  науки, как: Л.&nbsp;С.&nbsp;Гандин, М.&nbsp;И. Юдин,
  А.&nbsp;С.&nbsp;Зверев, А.&nbsp;А. Гирс.<br>
  В&nbsp;1969 году у&nbsp;института появился второй учебный корпус на&nbsp;проспекте Металлистов дом 3. <br>
  <br>
  <nobr>60-ые</nobr> годы прошлого столетия отмечены повышенным интересом
  к&nbsp;изучению океанов, проведением исследований по&nbsp;международным
  геофизическим программам, вводом в&nbsp;строй целой серии самых
  современных отечественных научно-исследовательских судов, выполнением
  планомерных исследований полярных областей. Возросшая потребность
  в&nbsp;специалистах океанологического профиля заметно увеличила
  с&nbsp;1966 года прием студентов на&nbsp;океанологическую специальность.
  Теперь гидрологический факультет не&nbsp;справлялся с&nbsp;потоком
  желающих стать океанологом, чем и&nbsp;было обусловлено создание
  в&nbsp;1970 году океанологического факультета. Так
  в&nbsp;научно-педагогической семье ЛГМИ появилось прибавление. <br>
  <br>
  К&nbsp;началу <nobr>1970-х</nobr> годов сложилась структура института, основные особенности которой сохранялись вплоть до&nbsp;<nobr>1990-х</nobr>
  годов. Три базовых факультета&nbsp;— метеорологический, гидрологический
  и&nbsp;океанологический&nbsp;— соответствовали сложившемуся к&nbsp;тому
  времени и&nbsp;существующему поныне отраслевому разделению
  гидрометеорологической науки и&nbsp;практики на&nbsp;направления,
  изучающие атмосферу, воды суши и&nbsp;Мировой океан. У&nbsp;каждого
  из&nbsp;направлений имеется своя теоретическая основа, опирающаяся
  на&nbsp;законы физики и&nbsp;химии и&nbsp;принципиально мало
  изменяющаяся со&nbsp;временем. Однако кафедры внутри факультетов
  в&nbsp;течение <nobr>1970-1990</nobr> годов периодически меняли свой
  профиль (и&nbsp;даже образовывались новые), а&nbsp;преподаваемые
  студентам научные дисциплины существенно перерабатывались или заменялись
  иными, в&nbsp;соответствии с&nbsp;прогрессом гидрометеорологической
  науки и&nbsp;практики. Такая гибкая структура вполне оправдала себя,
  и&nbsp;институт (ныне&nbsp;— университет) всегда шел в&nbsp;ногу
  со&nbsp;временем. <br>
  <br>
  Не&nbsp;менее важная научно-исследовательская работа, направленная
  на&nbsp;решение важнейших проблем гидрологии, проводится
  на&nbsp;гидрологическом факультете, основанном в&nbsp;1930&nbsp;году.
  Специалистов-гидрологов в&nbsp;современном понимании гидрология суши
  в&nbsp;то&nbsp;время не&nbsp;существовало нигде в&nbsp;мире, в&nbsp;том
  числе и&nbsp;в&nbsp;СССР. Все организаторы факультета были
  по&nbsp;образованию гидротехниками. Например, первым деканом факультета
  стал Е.&nbsp;В.&nbsp;Близняк, известный как начальник
  проектно-изыскательных работ при строительстве Волго-Донского
  судоходного канала. <br>
  <br>
  Спустя несколько десятилетий, кафедрами факультета заведуют заслуженные
  деятели науки, среди которых профессор
  Д.&nbsp;Л.&nbsp;Соколовский&nbsp;— лауреат Государственной премии,
  известный советский гидролог, основоположник гидрологии суши, профессор
  М.&nbsp;А.&nbsp;Великанов, профессор Б.&nbsp;В.&nbsp;Проскуряков,
  профессор В.&nbsp;А.&nbsp;Бахтиаров, и&nbsp;многие другие.
  Возобновляется работа кафедры динамики русловых потоков, образуются
  кафедра гидрогеологии, специализирующаяся в&nbsp;области подземных вод
  и&nbsp;кафедра гидрохимии (первая кафедра в&nbsp;учебных заведениях
  Советского Союза), обеспечивающая подготовку специалистов в&nbsp;области
  химии атмосферы и&nbsp;химии океана. Научные разработки
  метеорологического факультета сосредоточились на&nbsp;методах прогноза
  синоптической ситуации и&nbsp;усовершенствовании способов прогноза
  отдельных элементов погоды. Начинается подготовка специалистов
  по&nbsp;гидродинамическим прогнозам погоды. В&nbsp;<nobr>80-ых</nobr>
  годах в&nbsp;ходе структурной перестройки на&nbsp;метеорологическом
  факультете образуются две новые кафедры, где начинают готовить
  специалистов-измерителей по&nbsp;направлениям: «авиационная
  метеорология», «загрязнение атмосферы и&nbsp;охрана атмосферного
  воздуха» и&nbsp;«информационно-измерительные системы
  в&nbsp;метеорологии». <br>
  <br><br>

  <a name="section5"></a>
  <h3>Военная кафедра РГГМУ&nbsp;— 80&nbsp;лет на&nbsp;службе Отечеству</h3>
  В&nbsp;2010 году юбиляром является и&nbsp;военная кафедра. Практически
  сразу после вынесения Постановления об&nbsp;образовании МГМИ было
  принято решение об&nbsp;организации в&nbsp;вузе вневойсковой подготовке.
  С&nbsp;нового <nobr>1930-го</nobr> учебного года при институте начались
  занятия по&nbsp;высшей вневойсковой подготовке (введенной
  Правительством в&nbsp;1926&nbsp;году). Должность военного руководителя
  занимал генерал-майор генерального штаба царской армии, военспец,
  председатель советской военной комиссии в&nbsp;период Брестских
  переговоров, командующий <nobr>6-й</nobr> отдельной армией Северного
  фронта в&nbsp;период гражданской войны, комбриг (впоследствии
  генерал-майор авиации) А.&nbsp;А.&nbsp;Самойло, который занимал эту
  должность в&nbsp;Московском университете с&nbsp;1926 года и&nbsp;перешёл
  в&nbsp;отделившийся от&nbsp;университета МГМИ. Студенты
  гидрологического факультета по&nbsp;военному профилю готовились
  инженерами-саперами, а&nbsp;студенты метеорологического
  факультета&nbsp;— по&nbsp;своей метеорологической специальности&nbsp;—
  инженерами метеорологической службы ВВС.<br>
  <br>
  На&nbsp;основании директивы Народного Комиссара обороны № УН5/104869
  от&nbsp;14.08.1938 года военное отделение при МГМИ было реорганизовано
  в&nbsp;военный факультет при МГМИ. Это позволило расширить контингент
  слушателей, и&nbsp;многие студенты-юноши перешли с&nbsp;гражданских
  факультетов на&nbsp;военный. <br>
  <br>
  Стоит отметить, что, начиная с&nbsp;послевоенного периода
  и&nbsp;по&nbsp;настоящее время военную подготовку закончили
  и&nbsp;получили звание офицера запаса более 6000&nbsp;человек.
  Из&nbsp;них в&nbsp;Вооруженные Силы сроком на&nbsp;2&nbsp;года было
  призвано более 600&nbsp;человек. Многие в&nbsp;дальнейшем связали свою
  судьбу с&nbsp;Вооруженными Силами.<br>
  <br><br>

  <a name="section6"></a>
  <h3>История вуза 80—90-ых</h3>
  В&nbsp;конце <nobr>80-ых —</nobr> в&nbsp;начале <nobr>90-ых</nobr>
  годах, несмотря на&nbsp;сложную политическую и&nbsp;экономическую
  ситуацию в&nbsp;стране, институт продолжает свою деятельность,
  развиваясь и&nbsp;расширяя спектр стратегических партнеров. В&nbsp;1989
  году стратегическим партнером института становится Федеральная служба
  по&nbsp;гидрометеорологии и&nbsp;мониторингу окружающей среды
  (Росгидромет). Отношения между Росгидрометом и&nbsp;вузом строятся
  на&nbsp;основе Договора, заключенного в&nbsp;1989 году
  и&nbsp;в&nbsp;последующем продлеваемого каждые 5&nbsp;лет. В&nbsp;рамках
  этого договора предусматривается целевая подготовка кадров для
  Росгидромета и&nbsp;проведение научных исследований в&nbsp;целях
  повышения эффективности гидрометеорологического обеспечения экономики
  РФ. В&nbsp;партнерстве с&nbsp;университетом участвуют также
  научно-исследовательские и&nbsp;оперативные организации Росгидромета:
  Арктический и&nbsp;Антарктический научно-исследовательский институт,
  Государственный гидрологический институт, Главная геофизическая
  обсерватория&nbsp;им. А.&nbsp;И.&nbsp;Воейкова, Государственный
  океанографический институт, территориальные управления Росгидромета.<br>
  <br>
  В&nbsp;1992 году на&nbsp;базе Российского государственного
  гидрометеорологического университета приказом Комитета по&nbsp;высшей
  школе Миннауки России №&nbsp;711 от&nbsp;25.11.92 года создается
  учебно-методическое объединение (УМО) по&nbsp;образованию в&nbsp;области
  гидрометеорологии. Налаженная тесная кооперация вузов УМО позволила
  выиграть несколько грантов по&nbsp;программам «ТАСИС-ТЕМПУС»
  и&nbsp;Минобрнауки. Результатом работы по&nbsp;этим грантам стали
  подготовленные образовательные стандарты по&nbsp;новому направлению
  «Прикладная гидрометеорология» (бакалавр, магистр).<br>
  <br>
  1994 год отмечен важным событием в&nbsp;жизни института. У&nbsp;вуза
  появляется важный стратегическим партнер&nbsp;— Всемирная
  метеорологическая организация (ВМО), объединяющая в&nbsp;себе
  практически все государства мира. В&nbsp;соответствии с&nbsp;соглашением
  между Правительством РФ&nbsp;и&nbsp;ВМО вузу был придан статус
  Регионального метеорологического учебного центра ВМО. Благодаря
  образованию Центра в&nbsp;университете ежегодно обучаются около 300
  студентов из&nbsp;различных стран мира. При этом университет выполняет
  обязательства&nbsp;РФ перед ВМО в&nbsp;рамках Программы добровольного
  сотрудничества. Совместно с&nbsp;ВМО университет систематически проводит
  обучающие семинары, конференции для преподавателей-гидрометеорологов
  и&nbsp;молодых исследователей, закрепляя тем самым ведущую роль
  в&nbsp;мире университета в&nbsp;области гидрометеорологического
  образования.<br>
  <br><br>

  <a name="section7"></a>
  <h3>Получение статуса университета&nbsp;— РГГМУ</h3>
  В&nbsp;1998 году институт получает статус университета
  и&nbsp;по&nbsp;настоящее время носит гордое название&nbsp;— Российский
  государственный гидрометеорологический университет (РГГМУ). Эта новая
  страница истории университета принесла положительные результаты
  в&nbsp;дальнейшее развитие и&nbsp;процветание вуза. Университет стал
  расширяться. В&nbsp;сентябре 2000 года на&nbsp;базе Туапсинского
  гидрометеорологического техникума открывается первый филиал
  университета. Второй филиал был открыт спустя год на&nbsp;базе
  Ростовского техникума открывается филиал университета, что позволило
  на&nbsp;практике воплотить концепцию непрерывного
  гидрометеорологического образования. <br>
  <br>
  Теперь помимо постоянного совершенствования в&nbsp;области
  гидрометеорологического профиля, вуз начал подготовку профессионалов
  по&nbsp;смежным специальностям. В&nbsp;1994 году в&nbsp;университете
  заработал факультет экологии и&nbsp;физики природной среды, который
  проводит успешную подготовку молодых кадров в&nbsp;области экологии.
  Дефицит специалистов по&nbsp;информационным технологиям
  и&nbsp;информационной безопасности на&nbsp;рынке труда стал рычагом для
  создания в&nbsp;1999 году на&nbsp;океанологическом факультете кафедры
  «Морские информационные технологии» для подготовки морских инженеров
  по&nbsp;специальности: «Морские информационные системы
  и&nbsp;оборудование». В&nbsp;2000 году на&nbsp;кафедре была открыта
  новая специальность&nbsp;— «Информационная безопасность
  телекоммуникационных систем». В&nbsp;2003 году открывается экономический
  и&nbsp;социально-гуманитарный факультет. Здесь начинают готовить
  специалистов экономического профиля и&nbsp;"PR«-специалистов
  с&nbsp;высшим образованием в&nbsp;экономических
  и&nbsp;социально-гуманитарных областях знаний. При этом университет
  старается не&nbsp;потерять свою специфику. Все вновь открываемые
  специальности реализуются со&nbsp;спецификой в&nbsp;области наук
  о&nbsp;Земле: не&nbsp;экономика, а&nbsp;экономика природопользования,
  не&nbsp;информационная безопасность, а&nbsp;безопасность
  гидрометеорологических сетей и&nbsp;т.д.<br>
  <br><br>

  <a name="section8"></a>
  <h3>Современные достижения</h3>
  Важным стратегическим партнером университета становится ЮНЕСКО
  и&nbsp;Межправительственная океанографическая комиссия (МОК) ЮНЕСКО.
  В&nbsp;результате университет входит в&nbsp;университетскую сеть ЮНЕСКО,
  реализующую совместные образовательные программы различного уровня
  по&nbsp;направлению «Комплексное управление прибрежными зонами». Эта
  сеть объединяет ведущие Университеты Европы. Начиная
  с&nbsp;1993&nbsp;года, вуз принимает участие в&nbsp;международном
  проекте Межправительственной океанографической комиссии ЮНЕСКО «Плавучий
  университет» и&nbsp;возглавляет Балтийскую компоненту этого
  проекта&nbsp;— «Балтийский плавучий университет» (БПУ). В&nbsp;2006 году
  в&nbsp;университете создается кафедра МОК-ЮНЕСКО «Дистанционные методы
  и&nbsp;моделирование в&nbsp;океанографии». РГГМУ также участвует
  в&nbsp;крупнейшем международном образовательном проекте
  «Эразмус-Мундос», направленном на&nbsp;теснейшую кооперацию
  Университетов путем реализации совместных образовательных программ
  и&nbsp;развития академической мобильности.<br>
  <br>
  В&nbsp;2006 году университет подписал Великую хартию вольности или
  «Магна-карту». Подписывая хартию, университеты подтверждают свою
  принадлежность к&nbsp;академическому содружеству, преодолевающему
  политические и&nbsp;социальные барьеры и&nbsp;формирующему принципы
  объединения Европы в&nbsp;общество, которое предоставляет всем гражданам
  необходимые права и&nbsp;свободы. Таким образом, гидрометеорологический
  университет вошел в&nbsp;семью передовых европейских университетов. <br>
  <br>
  В&nbsp;2009 году РГГМУ был включен в&nbsp;реестр Торгово-промышленной
  палаты Российской Федерации. Достижения университета в&nbsp;области
  развития гидрометеорологического образования и&nbsp;научных исследований
  позволили вузу пройти сертификацию и&nbsp;получить свидетельство,
  подписанное Президентом Торгово-промышленной палаты РФ&nbsp;Е.
  Примаковым.<br>
  Одним из&nbsp;первых в&nbsp;России РГГМУ перешел на&nbsp;многоуровневую
  систему высшего гидрометеорологического образования, которая признана
  в&nbsp;большинстве стран и&nbsp;является одним из&nbsp;важнейших шагов
  к&nbsp;узнаваемости диплома университета в&nbsp;мировом
  научно-образовательном сообществе.<br>
  <br>
  В&nbsp;2010 году университет вошел в&nbsp;число 54&nbsp;ведущих вузов
  Российской Федерации и&nbsp;одним из&nbsp;двух вузов Санкт-Петербурга,
  участвующих в&nbsp;эксперименте по&nbsp;государственной поддержке
  предоставления льготных образовательных кредитов студентам вузов
  в&nbsp;период с&nbsp;15&nbsp;июня 2010 года по&nbsp;31&nbsp;декабря
  2013&nbsp;года.<br>
  <br>
  В&nbsp;настоящее время университет остается единственным высшим учебным
  заведением гидрометеорологического профиля в&nbsp;России, собравшего
  7&nbsp;факультетов, несколько Научных центров и&nbsp;Институтов.
  За&nbsp;весь период своего существования университет выпустил свыше
  40&nbsp;000 специалистов высшей квалификации. В&nbsp;вузе одна
  из&nbsp;лучших и&nbsp;уникальных в&nbsp;России библиотек, военная
  кафедра, взрастившая более 5000 военных гидрометеорологов, центр
  здоровья, база отдыха и&nbsp;учебная база в&nbsp;поселке Даймище
  и&nbsp;на&nbsp;острове Валаам. В&nbsp;вузе ежегодно обучается более 5500
  российских и&nbsp;зарубежных студентов, аспирантов и&nbsp;докторантов.
  Учебный процесс обеспечивают свыше 250&nbsp;преподавателей, в&nbsp;том
  числе 70&nbsp;докторов наук и&nbsp;профессоров. По&nbsp;последним
  официальным данным Министерства образования и&nbsp;науки РФ&nbsp;РГГМУ
  находится в&nbsp;числе лучших и&nbsp;востребованных среди российских
  вузов. В&nbsp;реализации научных и&nbsp;культурно-просветительских
  традиций университета важная роль отведена издательству РГГМУ, которое
  ежегодно выпускает свыше 100 наименований учебной, научной,
  научно-художественной и&nbsp;справочной литературы.<br>
  <br>
  Гидрометеорологический университет служит также признанной школой
  повышения квалификации кадров. Ежегодно в&nbsp;РГГМУ проходят курс
  переподготовки более 1000 преподавателей и&nbsp;сотрудников предприятий,
  учреждений и&nbsp;вузов. Организацией этой работы занимается факультет
  повышения квалификации. <br>
  <br>
  Последние годы отмечены крупными научными достижениями РГГМУ.
  Университет выполнял научные работы по&nbsp;заказам Правительства
  Санкт-Петербурга, Министерства обороны, Министерства природных ресурсов,
  Министерства науки и&nbsp;образования, Министерства экономического
  развития, Российской Академии наук, Министерства чрезвычайных событий,
  Росгидромета и&nbsp;многих других. Результаты мирового уровня были
  получены в&nbsp;разработке инновационных методов гидрометеорологических
  прогнозов, моделировании природных процессов, охраны окружающей среды,
  а&nbsp;также в&nbsp;области экономики и&nbsp;управления народным
  хозяйством.<br>
  <br>
  В&nbsp;заключении, стоит отметить, что РГГМУ&nbsp;— это уникальный вуз,
  где отчаянные романтики всегда могли реализовать свою мечту
  о&nbsp;далеких морях, океанских глубинах и&nbsp;экстремальных условиях
  полярных регионов, участвуя в&nbsp;различных гидрологических
  и&nbsp;океанологических экспедициях, а&nbsp;прагматично настроенные
  особы получить хорошее фундаментальное образование, как
  по&nbsp;традиционным специальностям, так и&nbsp;достаточно новым&nbsp;—
  гуманитарным и&nbsp;экономическим. За&nbsp;80&nbsp;лет славной истории
  университет стал популярным и&nbsp;узнаваемым не&nbsp;только
  в&nbsp;России, но&nbsp;и&nbsp;в&nbsp;мире. <br>
  <br>
</div>
</div>

 <div th:replace="~{fragments :: footer}"></div>

</body>
  <script src="/js/script.js"></script>
</html>