<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="header-container" th:fragment="header">
        <div class="logo">
            <a href="/admin/panel"><img src="/images/logo.png"></a>
        </div>
        <ul class="header-list">
            <li class="header-item"><a class="lia" href="/admin/panel/schedule">Schedule</a></li>
            <li class="header-item"><a class="lia" href="/admin/panel/users">Users</a></li>
            <li class="header-item"><a class="lia" href="/admin/panel/groups">Study groups</a></li>
            <li class="header-item"><a class="lia" href="/admin/panel/subjects">Subjects</a></li>
            <li class="header-item"><a class="lia" href="/admin/panel/about">About</a></li>
        </ul>
    </div>

    <div th:fragment="footer">
        <footer>
            <div class="navbar">
                <ul class="pagination" th:if="${pageable}">
                    <li th:each="pageNumber : ${#numbers.sequence(0, pageable.totalPages - 1)}" th:if="${pageable.totalPages > 0}">
                        <a th:text="${pageNumber + 1}"  th:href="@{/admin/panel/${res}(size=1, page=${pageNumber})}" th:class="${pageNumber==pageable.number} ? active"></a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

</body>
</html>