<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <p>Please, provide credentials:</p>
        <div>
            <div>
                <input placeholder="login">
            </div>
            <div>
                <input placeholder="password" type="password">
            </div>
            <div>
                <button id="submit">submit!</button>
            </div>
        </div>
    </body>
</html>