<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/panel.css" />
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>

    <div th:replace="~{fragments :: header}"></div>

    <div class="container">
        <div class="form">
            <form action="#" method="post" th:action="@{/admin/panel/schedule/new}">
                <div class="input">
                    <label for="teacher"><b>Teacher</b></label>
                    <select th:name="teacherId">
                        <option name="teacher" th:each="teacher : ${teachers}" th:text="${teacher.firstname} + ' ' + ${teacher.lastname}" th:value="${teacher.id}"/>
                    </select>
                </div>
                <div class="input">
                    <label for="group"><b>Study Group</b></label>
                    <select th:name="group">
                        <option name="group" th:each="group : ${groups}" th:text="${group.getName}" th:value="${group.getName}"/>
                    </select>
                </div>
                <div class="input">
                    <label for="subject"><b>Subjects</b></label>
                    <select th:name="subject">
                        <option name="subject" th:each="subject : ${subjects}" th:text="${subject.getName}" th:value="${subject.getName}"/>
                    </select>
                </div>
                <div class="input">
                    <label for="day"><b>Day</b></label>
                    <select th:name="dayRange">
                        <option  th:each="day : ${T(com.rshu.schedule.schedule.Day).values()}"
                                 th:value="${{day}}"
                                 th:text="${{day}}">
                    </select>
                </div>
                <div class="input">
                    <label for="subject"><b>Time</b></label>
                    <select th:name="timeRange">
                        <option  th:each="time : ${T(com.rshu.schedule.schedule.TimeRange).values()}"
                                 th:value="${{time}}"
                                 th:text="${{time}}">
                    </select>
                </div>
                <div>
                    <button>Add Record</button>
                </div>
            </form>
        </div>
    </div>

<footer>
    <div class="navbar">
        <!-- <ul class="pagination" th:if="${groups.totalPages > 0}">
            <li th:each="pageNumber : ${#numbers.sequence(0, groups.totalPages - 1)}">
                <a th:text="${pageNumber + 1}"  th:href="@{/admin/panel/groups(size=1, page=${pageNumber})}" th:class="${pageNumber==groups.number} ? active"/>
            </li>
        </ul> -->
    </div>
</footer>

</body>
<script src="/js/script.js"></script>
</html>