<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/panel.css" />
</head>
    <body>
        <div class="header-container">
            <div class="logo">
                <a href="/admin/panel"><img src="/images/logo.png"></a>
            </div>
            <ul class="header-list">
                <li class="header-item"><a class="lia" href="/admin/panel/schedule">Schedule</a></li>
                <li class="header-item"><a class="lia" href="/admin/panel/users">Users</a></li>
                <li class="header-item"><a class="lia" href="/admin/panel/groups">Study groups</a></li>
                <li class="header-item"><a class="lia" href="/admin/panel/subjects">Subjects</a></li>
                <li class="header-item"><a class="lia" href="/admin/panel/about">About</a></li>
            </ul>
        </div>
        <!--DO: -->
        <!--a horizontal list contains: -->
        <!--users, study_groups, schedule -->
    </body>
<script src="/js/script.js"></script>
</html>