<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Registration</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/sign-in-up.css"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
  <body>
  <div class="container">
    <div class="form">
      <form action="#" method="post" th:action="@{/admin/register}" th:object="${request}">
      <div >
        <p>Let us register you:</p>
        <div class="input">
            <label for="uname"><b>Name</b></label>
            <input placeholder="name" type="text" th:field="*{firstname}" name="uname"/>
        </div>
        <div class="input">
            <label for="lastname"><b>Lastname</b></label>
            <input placeholder="lastname" type="text" th:field="*{lastname}" name="lastname"/>
        </div>
        <div class="input">
            <label for="surname"><b>Surname</b></label>
            <input placeholder="surname" type="text" th:field="*{surname}" name="surname"/>
        </div>
        <div class="input">
            <label for="login"><b>Login</b></label>
            <input placeholder="login" type="text" th:field="*{login}" name="login"/>
        </div>
        <div class="input">
            <label for="password"><b>Password</b></label>
            <input placeholder="password" type="password" th:field="*{password}" name="password"/>
        </div>
        <div>
          <button>Register</button>
        </div>
        <a href="/admin/login">Alredy registred? Sign-in!</a>
      </div>
    </form>
    </div>
  </div>

  </body>
</html>