<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/panel.css" />
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>

    <div th:replace="~{fragments :: header}"></div>

    <div class="content-table">
        <table>
            <thead>
            <tr>
                <th> Lastname </th>
                <th> Firstname </th>
                <th> Surname </th>
                <th> Role </th>
                <th class="add-btn"><a th:href="@{/admin/panel/users/new}"><button>Add</button></a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${usersList.empty}">
                <td colspan="4"> Users not found </td>
            </tr>
            <tr th:each="user : ${usersList}">
                <td><span th:text="${user.lastname}"> Lastname </span></td>
                <td><span th:text="${user.firstname}"> Firstname </span></td>
                <td><span th:text="${user.surname}"> Surname </span></td>
                <td><span th:text="${user.role}"> Role </span></td>
                <td class="btn"><button class="td-btn">Edit</button></td>
                <td class="btn"><a th:href="@{/admin/panel/users/delete?id={id}(id=${user.id})}"><button class="td-btn">Delete</button></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="~{fragments :: footer(pageable=${usersList}, res='users')}"></div>

</body>
    <script src="/js/script.js"></script>
</html>